@implements IDisposable
@inject IDbContextFactory<ReBlaze.DataModel.DataModelContext> DbFactory
@inject IRefresher Refresher


<div class="col-12 m-1">
    <div class="card">
        <div class="row m-2">
            @if (!InEdit)
            {
                <div class="col">
                    <div class="row">
                        <div class="col">@Data.Name </div>
                    </div>
                    <div class="row">
                        <div class="col"><small>@Data.Description</small> </div>
                    </div>
                </div>
                <div class="col">
                    @Data.Payload
                </div>
                <div class="col">
                    @Data.Type
                </div>
                <div class="col-1">
                    <a @onclick=Edit> <span class="oi oi-pencil"></span></a>
                    <a @onclick=Delete><span class="oi oi-trash"></span></a>
                </div>
            }
            else
            {
                <div class="col">
                    <div class="row">
                        <div class="col"><input class="form-control" type="text" @bind=Data.Name></div>
                    </div>
                    <div class="row">
                        <div class="col"><input class="form-control" type="text" @bind=Data.Description></div>
                    </div>
                </div>
                
                <div class="col">
                    <input class="form-control" type="text" @bind=Data.Payload>
                </div>
                <div class="col">
                    <select @bind=Data.Type>
                        @foreach(var e in Enum.GetValues<ReBlaze.DataModel.CommandType>()) {
                            <option value=@e>@e</option>
                        }
                    </select>
                </div>
                <div class="col-1">
                    <a @onclick=Save> <span class="oi oi-check"></span></a>
                    <a @onclick=EndEdit> <span class="oi oi-x"></span></a>
                </div>
            }
        </div>


    </div>
</div>


@code {
    [Parameter]
    public ReBlaze.DataModel.Command Data { get; set; }

    [Parameter]
    public ReBlaze.DataModel.Model Parent { get; set; }
    ReBlaze.DataModel.DataModelContext Context { get; set; }


    [Parameter]
    public bool InEdit { get; set; }

    public void Edit()
    {
        InEdit = true;
    }
    public void Save()
    {

        InEdit = false;
        Context = DbFactory.CreateDbContext();
        var f = Context.Commands.First(c => c.ID == Data.ID);
        f.Type = Data.Type;
        f.Name = Data.Name;
        f.Description = Data.Description;
        f.Payload = Data.Payload;
        Context.SaveChanges();
        Refresher.CallRequestRefresh("ReBlaze.Pages.Models");
    }

    public void Delete()
    {
        InEdit = false;
        Context = DbFactory.CreateDbContext();
        Context.Commands.Remove(Context.Commands.First(c => c.ID == Data.ID));
        Context.SaveChanges();
        
        Refresher.CallRequestRefresh("ReBlaze.Pages.Models");

    }
    private void EndEdit()
    {
        InEdit = false;
    }

    public void Dispose()
    {
        Context?.Dispose();
    }

}